#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none; /* no underline */
  color: rgb(202, 78, 78)
}
.logo:hover {
  text-decoration: none; /* no underline */
  filter: drop-shadow(0 0 2em #646cffaa);
  color: rgb(229, 150, 150)
}
