/* lens card div should have a white background and rounded borders */
.lens-card {
    background-color: rgb(172, 217, 243);
    border: 2px solid #111;
    padding: 16px;
    margin: 16px;
    box-shadow: 6px 6px rgb(0, 0, 0);
}

.lens-card-text {
    color: #333;
}

.lens-card-text-item {
    margin-bottom: 8px;
    margin-top: 8px;
}

h2 {
    font-family: DMSans-Bold, sans-serif;
    color: #111;
    margin-top: 0;
}

p {
    font-family: DMSans-Regular, sans-serif;
    color: #555;
    margin-bottom: 0;
}

ul {
    margin-top: 0px;
    list-style-type: none;
}
