#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none; /* no underline */
  color: rgb(202, 78, 78)
}
.logo:hover {
  text-decoration: none; /* no underline */
  filter: drop-shadow(0 0 2em #646cffaa);
  color: rgb(229, 150, 150)
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  
}

.searchInput {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #111;
  border-radius: 8px;
  margin-right: 1rem;
  width: 300px;
}
